* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    color: black;
    text-decoration: none;
}

.header {
    padding: 16px;
    border-bottom: 8px solid #e48181;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-branding {
    flex: 0 1 525px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    max-height: 40px;
}

/*.company-name {} */

.nav-links {
    flex: 0 1 525px;
    display: flex;
    justify-content: flex-end;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.head-section {
    height: 600px;
    background-color: #FF949F;
    padding: 32px;
    border-bottom: 8px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;
}

.head-section-left {
    color: white;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.head-section-left-box {
    flex: 0 1 500px;
}

.head-header {
    text-shadow: 2px 2px #c06363;
    font-size: 36px;
    margin-bottom: 8px;
}

.head-description {
    text-shadow: 1px 2px #e48181;
    margin-bottom: 20px;
}

.head-button {
    background-color: #f85d5f;
    color: white;
    font-size: 16px;
    font-weight: 900;
    border-top: none;
    border-left: none;
    border-right: 2px solid #c06363;
    border-bottom: 2px solid #c06363;
    border-radius: 8px;
    padding: 16px 32px;
}

.head-section-right {
    flex: 1;
    display: flex;
}

.head-section-right-box {
    flex: 0 1 500px;
}

.head-image {
    width: 100%;
    display: block;
}

.food-showcase-section {
    background-color: white;
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-showcase-header {
    color: #f85d5f;
    margin-bottom: 48px;
    font-size: 28px;
}

.food-exhibits {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.exhibit {
    background-color: white;
    /*
    color: white;*/

    padding: 24px;
    border-top: 2px solid lightgrey;
    border-left: 2px solid lightgrey;
    border-right: 6px solid lightgrey;
    border-bottom: 6px solid lightgrey;
    border-radius: 16px;

    text-align: center;
    flex: 0 1 256px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.exhibit h3 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 4px;
}

.exhibit p {
    font-weight: 500;
}

.food-options-images {
    width: 100%;
    height: auto;
    display: block;
}

.quote-section {
    background-color: white;
    color: black;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    flex: 0 1 900px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 24px;
    font-family: 'Comic Sans MS', sans-serif;
}

.quotier {
    align-self: flex-end;
}

.contact-section {
    padding: 32px;
}

.footer {
    background-color: #EBF8F4;
    color: black;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}